.sidebar-container {
  background-color: black;

  .sidebar-item {
    padding: 0.6rem;
    opacity: 0.7;
    background-color: black;
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    text-align: center;
    width: 100%;
    border-radius: 3rem;
    position: sticky;
    border: none;
    span {
      padding-left: 0.3rem;
      padding-right: 0.3rem;
      align-items: center;
      display: flex;
    }
    &:hover {
      opacity: 1;
      background-color: #3d3d3d;
    }
  }
  .btn-selected {
    background-color: #fc1503;
    opacity: 1;
  }
  .copyright {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: start;
    margin-left: 1rem;
    margin-top: 1rem;
  }
}
